body{
    transition: all 0.6s linear;
    background-color:black;
}

.colorForSec0{
   transition: all 0.6s linear;
    background-color:black; 
}

.colorsForSec1 {
    transition: all 0.6s linear;
    background-color:#3333CC;
}
.colorsForSec2 {
    transition: all 0.6s linear;
    background-color:black;
}
.colorsForSec3 {
    transition: all 0.6s linear;
    background-color:#481143;
}
.colorsForSec4 {
    transition: all 0.6s linear;
    background-color:#b3a75c;
}
.colorsForSecre5 {
    transition: all 0.6s linear;
    background-color:black;
}

